* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CBF7E6;
}

.underline {
    font-size: 20px;
    color: #72A39D;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.underline:hover {
    color: #23575a;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #72A39D;
    transition: all 0.3s ease;
    transform: scaleX(0);
    /*hide the underline */
    transform-origin: bottom left;
}

.underline:hover::after {
    transform: scaleX(1);
}

.logo {
    height: 6vw;
    width: 6vw;
    border-radius: 100%;
}

.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 2em;
}

.navabr-items {
    display: flex;
    gap: 1em;
}

.top-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-heading {
    color: #23575a;
    font-size: 4vw;
    font-family: 'Sacramento', cursive;
}

#sub-heading {
    color: #72A39D;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.bg-image {
    width: 60%;
    min-width: 50vh;
}

.heading {
    font-size: 4vw;
    font-family: 'Sacramento', cursive;
}

.image {
    width: 20vw;
    border-radius: 5%;
}

.text {
    color: #72A39D;
    font-size: 3.8vh;
    font-family: 'Montserrat', sans-serif;
}

.nrg {
    display: flex;
    float: left;
    width: 20vw;
    border-radius: 5%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    transition: 1s box-shadow;
}

.nrg:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

.nrg:hover::before,
.nrg:hover::after {
    display: block;
    content: '';
    position: absolute;
    background: #72A39D;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.nrg:hover:after {
    background: #72A39D;
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }

    12% {
        top: -2px;
        left: 2px;
    }

    25% {
        top: 0;
        left: 5px;
    }

    37% {
        top: 2px;
        left: 2px;
    }

    50% {
        top: 5px;
        left: 0;
    }

    62% {
        top: 2px;
        left: -2px;
    }

    75% {
        top: 0;
        left: -5px;
    }

    87% {
        top: -2px;
        left: -2px;
    }

    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }

    12% {
        top: -2px;
        right: 2px;
    }

    25% {
        top: 0;
        right: 5px;
    }

    37% {
        top: 2px;
        right: 2px;
    }

    50% {
        top: 5px;
        right: 0;
    }

    62% {
        top: 2px;
        right: -2px;
    }

    75% {
        top: 0;
        right: -5px;
    }

    87% {
        top: -2px;
        right: -2px;
    }

    100% {
        top: -5px;
        right: 0;
    }
}

#bio {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    gap: 3em;
    color: #72A39D;
    background-color: #3B6A6B;
}

.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    gap: 3em;
}

#skills {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    gap: 3em;
    color: #72A39D;
    background-color: #CBF7E6;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.grid {
    width: 90%;
    display: grid;
    gap: 0.5em;
}

progress {
    width: 100%;
    height: 2vh;
    appearance: none;
    border-radius: 10px;
    color: #72A39D;
    transition: box-shadow 0.3s ease;
    /* Add transition for smooth effect */
}

progress::-webkit-progress-bar {
    background-color: #72A39D;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    color: #72A39D;
    border-radius: 10px;
    box-shadow: 0 0 0 rgba(114, 163, 157, 0);
}

#contact {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    gap: 3em;
    color: #72A39D;
    background-color: #3B6A6B;
}

.contact {
    display: flex;
    width: 90%; /* Adjusted width for responsiveness */
    justify-content: space-evenly;
    max-width: 800px; /* Limit maximum width for larger screens */
}

ul {
    display: flex;
    gap: 1em;
    transform: translate(0%, 0%);
}

ul li {
    list-style: none;
    margin: 0 15px;
}

ul li a {
    position: relative;
    display: block;
    width: 50px; /* Adjusted width for smaller screens */
    height: 50px; /* Adjusted height for smaller screens */
    text-align: center;
    line-height: 53px; /* Adjusted line-height for smaller screens */
    background: #333;
    border-radius: 50%;
    font-size: 24px; /* Adjusted font size for smaller screens */
    color: #666;
    transition: .5s;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #CBF7E6;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #CBF7E6;
}

ul li a:hover {
    color: #CBF7E6;
    box-shadow: 0 0 5px #CBF7E6;
    text-shadow: 0 0 5px #CBF7E6;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 8vw;
    }

    #main-heading {
        font-size: 10vw;
    }

    #sub-heading {
        font-size: 5vw;
    }

    .text {
        font-size: 12px;
    }
}
@media screen and (max-width: 565px) {
    .contact{
        display: none;
    }
}